<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Εισαγωγή Καθηγητή</title>
</head>
<body>
<div th:object="${teacherInsertDTO}">

    <form action="" method="POST">
        <div>
            <span>Εισαγωγή Καθηγητή</span>
        </div>

        <div>
            <input type="text" placeholder="Εισάγετε όνομα" th:field="*{firstname}">
            <p th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></p>
        </div>

        <div>
            <input type="text" placeholder="Εισάγετε επώνυμο" th:field="*{lastname}">
            <p th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></p>
        </div>

        <div>
            <input type="submit" value="Εισαγωγή">
        </div>
    </form>

</div>
</body>
</html>